@import './_variables.css';
@import './_mixins.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('@/assets/images/Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}
